# Visual Studio cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
docs/Refatoracao
.github/

# Logs e temporários
*.log
*.tmp

# Configurações locais com apontamento de banco
OpenPlot.Api/appsettings.json
OpenPlot.ExportWorker/appsettings.json
OpenPlot.Ingestor.Gsf/App.config
