# Visual Studio cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
docs/Refatoracao
.github/

# Secrets
.env.dev
.env.prod.local
docker-compose.prod.secrets.yml
secrets/*.json
!secrets/.gitkeep

# Logs e temporários
*.log
*.tmp
