# Visual Studio cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
.docs/Refatoracao/


# Artefatos gerados
/artifacts/
/artifacts/validate/

# Pacotes restauráveis
/packages/

# Logs e temporários
*.log
*.tmp
