<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- <add key="Db" value="Host=localhost;Port=5432;Database=postgres;SearchPath=openplot;Username=postgres;Password=postgres" /> -->
		<add key="Db" value="Host=localhost;Port=5432;Database=openplot;Username=postgres;Password=postgres" />
		<!-- Caminho para o XML do MedPlot -->
		<!-- <add key="MedPlotXml" value="C:\Users\tatia\OneDrive\Documentos\MedPlot-main\MedPlot\Config\medfasee\openHistorian_UFSC_50Hz.xml" /> -->
		<!-- FALHA-->
		<!-- <add key="MedPlotXml" value="C:\Users\tatia\OneDrive\Documentos\MedPlot-main\MedPlot\Config\medfasee\PDC_UFSC_60Hz_2023_202X.xml" /> -->
		<!-- OK -->
		<!-- <add key="MedPlotXml" value="C:\Users\tatia\OneDrive\Documentos\MedPlot-main\MedPlot\Config\ons\SNAPDB_ONS_RJ.xml" /> -->
		<!-- OK -->
		<add key="MedPlotXml" value="C:\Users\tatia\OneDrive\Documentos\MedPlot-main\MedPlot\Config\medfasee\openHistorian_UFSC_60Hz.xml" />
		<!-- OK -->
		<!-- Intervalo entre polls (segundos) -->
		<add key="PollIntervalSeconds" value="2" />
		<!-- Duração de cada chunk de busca (minutos) -->
		<add key="ChunkMinutes" value="10" />
		<add key="MaxParallelChunks" value="4" />
		<add key="SourceTimeKind" value="Local" />
		<!-- ✅ controle simples -->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
